.stories {
  padding: 10rem 10rem;
  background-image: linear-gradient(#2a2727e7, #2a2727e7),
    url('../img/story-back.jfif');
  background-size: cover;
  background-position: center;
  grid-column: full-start / full-end;

  &__box {
    display: grid;
    justify-content: center;
  }

  @media only screen and (max-width: $bp-sm) {
    padding: 4rem 0;
  }
}

.story {
  display: grid;
  grid-template-rows: repeat(11, minmax(min-content, 9rem));
  grid-template-columns: repeat(12, minmax(min-content, 9rem));

  &__img {
    // height: 100%;
    width: 100%;
    grid-column: 3 / 11;
    align-self: center;
    object-fit: cover;
    border-radius: 2px;

    &--1 {
      grid-row: 1 / 6;
    }
    &--2 {
      grid-row: 7 / 12;
    }

    @media only screen and (max-width: $bp-sm) {
      grid-column: 2 / 12;
    }
  }

  &__text {
    grid-column: 7 / 12;
    align-self: end;
    font-family: 'Nunito', sans-serif;
    font-size: 1.7rem;
    font-weight: 300;
    color: #2a2727;
    background-color: #f9f9f9;
    padding: 2rem 3rem;

    &--1 {
      grid-row: 4 / 6;
    }
    &--2 {
      grid-row: 10 / 12;
    }

    @media only screen and (max-width: $bp-sm) {
      grid-column: 2 / 12;
    }
  }

  &__author {
    display: block;
    margin-top: 0.5rem;
    font-weight: 400;
    font-size: 1.8rem;
  }
}
